# Dependencies
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-*

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local


# Ignore massive JSON scraping data
data/artisans/**/*.json
data/artisans/*.json
data/villes/**/*.json
data/villes/*.json
data/departements/**/*.json
data/departements/*.json
